{% extends 'MathBundle::layoutMath.html.twig' %}

{% block title %}{{ parent() }} - Partie en Cours{% endblock %}

{% block contenuMath %}
    <div class="container">
        <div class="row">
            {#            Prévoir changement de couleur de la div en fonction du temps restant#}
            <div class="alert alert-success lg-4 col-lg-offset-8" role="alert">TEMPS Restant : <span id="temps_restant">{{ question.partie.tempsParQuestion}}</span> s.</div>
            {#<div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>#}
            <div class="well">
                <h1>
                    <span class="label label-default">{{ question.operande1 }}</span>
                    <span class="label label-info">{{ question.operateur.symbole}}</span>
                    <span class="label label-default">{{ question.operande2 }}</span>
                    <span class="label label-info">=</span>
                    <span class="label label-default" id="reponseAffichee" >?</span>
                    <span class="label label-success hidden" id="bonneReponse" ><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                    <span class="label label-danger hidden" id="mauvaiseReponse" ><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></span>

                </h1>
                <h2 id="hiddenResco" class="hidden">
                    Bonne réponse : <span class="label label-success resco" >{{ question.resultatCorrect }}</span>
                </h2>

            </div>
            <div class="well">
                <p>
                    {% for i in 0..9 %}
                        <button class="btn btn-lg btn-default caraReponse"type="button">{{ i }}</button>

                    {% endfor %}
                    <button class="btn btn-lg btn-default caraReponse" type="button">.</button>
                    <button class="btn btn-lg btn-info caraReponse" type="button">-</button>
                </p>
                <button class="btn btn-lg btn-warning del" type="button"><i class="fa fa-arrow-left" aria-hidden="true"></i>Del</button>
                <button class="btn btn-lg btn-success validation" type="button"> Enter </button>
            </div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
